<video id='{{elementid}}' class='video-js vjs-default-skin vjs-static-controls'
    poster='{{video.poster_url}}' controls autoplay preload='auto' muted
    data-setup='{ "techOrder": ["html5", "flash"], "playbackRates": [0.25, 0.5, 1.0, 1.5] , "children": {
        "controlBar": {
            "children": {
                "muteToggle": false,
                "volumeControl": false
            }
        }
    },
    "plugins": {
        "loopbutton": true
    }
}'>
 <source src='{{video.get_absolute_url}}' type='video/mp4' codecs='avc1.42E01E, mp4a.40.2'></source>
</video>
