<div class='video-wrapper'>
{% if video %}
    <video id="{{id}}" class="video-js vjs-default-skin"
      {% if width > 150 %}controls{% endif %} {# no room for controls on small videos #}
      preload="auto" autoplay muted width="{{width}}" height="{{height}}"
      poster="{{video.poster_url}}"
      data-setup='{
          "playbackRates": [0.25, 0.5, 1.0, 1.5],
          "plugins": {"looper": true},
          "controlBar": { "volumeMenuButton": false }
    }'  >
     <source src="{{video.get_absolute_url}}" type="video/mp4" />
    </video>
{% else %}
<p>No Video</p>
{% endif %}
</div>
