{% if video %}
    <video id="{{elementid}}" class="video-js vjs-default-skin"
      {% if width > 120 %}controls{% endif %} {# no room for controls on small videos #}
      preload="auto" autoplay muted width="{{width}}" height="{{height}}"
      poster="{{video.poster_url}}"
      data-setup='{
          "playbackRates": [0.25, 0.5, 1.0, 1.5],
          "plugins": {"loopbutton": true},
          "controlBar": { "volumeMenuButton": false }
    }'  >
     <source src="{{video.get_absolute_url}}" type="video/mp4" />

     <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
{% else %}
<p>No Video</p>
{% endif %}
