{% extends "baselayout.html" %}
{% load videotags %}

{% block title %}Video List{% endblock %}

{% block content %}
<h2>Videos</h2>

{% for message in messages %}
    <div class="alert fade">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message|safe }}
    </div>
{% endfor %}

{% for video in object_list %}
    <div class='video'>
        {% videoplayer elementid=video.tag category=video.category tag=video.tag %}

        <p class='caption' style='margin-top: 3em'>
            <a href="{% url 'video:video' category=video.category tag=video.tag %}">{{video.category}}/{{video.tag}}</a> ({{video.versions}} versions) |
            <form method='post' action="{% url 'video:delete' category=video.category tag=video.tag %}">
                {% csrf_token %}
                <input type='submit' value='Delete'>
            </form>
        </p>
    </div>
{% endfor %}
</ul>
{% endblock %}
