{% extends "baselayout.html" %}
{% load videotags %}

{% block pagecss %}
.thumblist {
    display: block;
    overflow: auto;
}
.thumblist li {
    list-style-type: none;
    display: block;
    float: left;
    padding: 1em;
}
.vjs-control-active {
    font-weight: bold;
}
.vjs-control-active::after {
    content: ' \2713'
}
{% endblock %}

{% block title %}Signbank Video Test{% endblock %}

{% block content %}
<h1>Signbank Video Test App</h1>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <div {% if message.tags %}class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
  </div>
  {% endfor %}
</ul>
{% endif %}

<div class='panel panel-default'>
    <div class="panel-heading">Upload video for: <strong>{{test_object}}</strong></div>
    <div class='panel-body'>
    {% uploadform obj=test_object redirect='/' %}
    </div>
</div>

<div class='panel panel-default'>
    <div class="panel-heading">Upload multiple videos for: <strong>{{test_object}}</strong></div>
    <div class='panel-body'>
    {% uploadform obj=test_object multiple=True redirect='/' %}
    </div>
</div>

<div class='panel panel-default'>
    <div class='panel-body'>
        <h2>Upload Video Modal</h2>

        <div>
            <button id='upload_video_button' class='btn btn-default'
                    data-toggle='modal'
                    data-target='#upload_video_modal'>Upload Video for: {{test_object}}</button>

            {% upload_modal id='upload_video_modal' obj=test_object multiple=False redirect='/' %}
        </div>

        <div>

            <button id='delete_gloss_btn' class='btn btn-default'
                    data-toggle='modal'
                    data-target='#upload_modal2'>Upload Video Set ContentType + Object_id</button>

            {% upload_modal id='upload_modal2' multiple=True redirect='/' %}
        </div>

    </div>
</div>

<h2>Thumbnails</h2>
{% verbatim %}
<pre>
  {% get_taggedvideo_for_object object as taggedvideo %}
  {% for video in taggedvideo.videos %}
      {% thumbnail_popup id=video.id video=video width=600 height=400 %}
  {% endfor %}
</pre>
{% endverbatim %}
    <ul class='thumblist'>
{% get_taggedvideo_for_object test_object as taggedvideo %}
  {% for video in taggedvideo.videos %}
<li>
    {% thumbnail_popup id=video.id video=video width=600 height=400 %}
</li>
  {% endfor %}

</ul>


<h2>Video Embedded</h2>
<h4>Get videos with template tag -> List only the video with lowest <strong>version</strong> number:</h4>
{% verbatim %}
<pre>
  {% get_taggedvideo_for_object object as taggedvideo %}
  {% videoplayer id=taggedvideo.video.id video=taggedvideo.video %}
</pre>
{% endverbatim %}
{% get_taggedvideo_for_object test_object as taggedvideo %}
    {% videoplayer id=taggedvideo.video.id video=taggedvideo.video %}
    <p class='caption' style='margin-top: 3em'>
        <a href="{% url 'video:video' content_type_id=taggedvideo.content_type.id object_id=taggedvideo.object_id %}">{{taggedvideo.content_type}}/{{taggedvideo.object_id}}</a> ({{taggedvideo.versions}} versions) |
        <form method='post' action="{% url 'video:delete' content_type_id=taggedvideo.content_type.id object_id=taggedvideo.object_id %}">
            {% csrf_token %}
            <input type='submit' value='Delete'>
        </form>
    </p>
    <hr>

<h4>Get videos with template tag -> List all videos of a TaggedVideo (all versions):</h4>
{% verbatim %}
<pre>
  {% get_taggedvideo_for_object object as taggedvideo %}
  {% for video in taggedvideo.videos %}
      {% videoplayer id=video.id video=video %}
  {% endfor %}
</pre>
{% endverbatim %}
{% get_taggedvideo_for_object test_object as taggedvideo %}
    {% for video in taggedvideo.videos %}
      {#<video controls poster="{{video.poster_url}}"><source src="{{video.get_absolute_url}}" type="video/mp4" /></video>#}
      {% videoplayer id=video.id video=video %}
    <hr>
    {% endfor %}
<h3>Videos from context variable:</h3>
{% verbatim %}
<pre>
  {% for taggedvideo in taggedvideos %}
      {% videoplayer id=taggedvideo.video.id video=taggedvideo.video %}
  {% endfor %}
</pre>
{% endverbatim %}
{% for taggedvideo in taggedvideos %}
    <div class='video'>
        {% videoplayer id=taggedvideo.video.id video=taggedvideo.video %}

        <p class='caption' style='margin-top: 3em'>
            <a href="{% url 'video:video' content_type_id=taggedvideo.content_type.id object_id=taggedvideo.object_id %}">{{taggedvideo.content_type}}/{{taggedvideo.object_id}}</a> ({{taggedvideo.versions}} versions) |
            <form method='post' action="{% url 'video:delete' content_type_id=taggedvideo.content_type.id object_id=taggedvideo.object_id %}">
                {% csrf_token %}
                <input type='submit' value='Delete'>
            </form>
        </p>
    </div>
{% endfor %}


{% endblock %}
